<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/timer.js"></script>
    </head>
    <body>
        <div class="main-content">
            <p class="day">Today is {{day}}</p>
            <p class="time">actual time: {{hour}}</p>
        </div>
        <footer>
            Created by Bruno Rombolá
        </footer>
    </body>


</html>